<div class="container">
    <nav id="thanhmenu" class="bg-primary" style="height: 60px;">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#" routerLink="/trang_chu">Quản Lý Dự Án Fpoly</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#" routerLink="/trang_chu">Bảng điều khiển</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Quản lý dự án
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" routerLink="/du_an/them">Thêm dự án</a></li>
                                <li><a class="dropdown-item" href="#" routerLink="/du_an">Danh sách dự án</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Quản lý nhân viên
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" routerLink="/nhan_vien/them">Thêm nhân viên</a>
                                </li>
                                <li><a class="dropdown-item" href="#" routerLink="/nhan_vien">Danh sách nhân viên</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Quản lý Task
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" routerLink="/task/them">Thêm Task</a></li>
                                <li><a class="dropdown-item" href="#" routerLink="/task">Danh sách Task</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-pr" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </nav>
    <nav id="breadcrumb" class="bg-warning-subtle" style="height: 35px; padding-top: 5px; padding-left: 30px;">
        Trang chủ > {{title2}}
    </nav>
    <table class="table table-bordered border border-primary">
    <caption align="top" class="bg-warning p-1 fw-bold">
        DANH SÁCH DỰ ÁN
    </caption>
    <tr>
        <th class="p-2">Id</th>
        <th class="p-2">Tên dự án</th>
        <th class="p-2">Ngày Start</th>
        <th class="text-end p-1">Tiền</th>
        <th class="p-2">Hành động</th>
    </tr>

    <tr *ngFor="let da of list_du_an">
        <td class="p-2">{{ da.id }}</td>
        <td class="p-2">{{ da.ten_du_an }}</td>
        <td class="p-2">{{ da.ngay_start | date: 'dd/MM/yyyy' }}</td>
        <td class="p-2 text-end">{{ da.tien | number }} VNĐ</td>
        <td class="p-2">
            <button class="btn btn-primary me-2" (click)="editDA(da.id)">Sửa</button>
            <button class="btn btn-danger" (click)="deleteDA(da.id)">Xóa</button>
        </td>
    </tr>
</table>
</div>

