<div class="container">
    <nav id="thanhmenu" class="bg-primary" style="height: 60px;">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#" routerLink="/trang_chu">Quản Lý Dự Án Fpoly</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#" routerLink="/trang_chu">Bảng điều khiển</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Quản lý dự án
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" routerLink="/du_an/them">Thêm dự án</a></li>
                                <li><a class="dropdown-item" href="#" routerLink="/du_an">Danh sách dự án</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Quản lý nhân viên
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" routerLink="/nhan_vien/them">Thêm nhân viên</a>
                                </li>
                                <li><a class="dropdown-item" href="#" routerLink="/nhan_vien">Danh sách nhân viên</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Quản lý Task
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" routerLink="/task/them">Thêm Task</a></li>
                                <li><a class="dropdown-item" href="#" routerLink="/task">Danh sách Task</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-primary" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </nav>
    <nav id="breadcrumb" class="bg-warning-subtle" style="height: 35px; padding-top: 5px; padding-left: 30px;">
        Trang chủ > 
    </nav>
    <div class="ctn">
        <div class="trai">
            <h3><b>Trưởng nhóm</b></h3>
            <div class="avatar">
                <img src="assets/images/admin.jpg" alt="" srcset="">
            </div>
            <h4><b>Dang Minh Chien</b></h4>
            <hr>
            <h6>Tóm tắt về Team</h6>
            <table class="table">
                <thead>
                    <tr>
                        <th>Số lượng thành viên</th>
                        <td>222</td>
                    </tr>
                    <tr>
                        <th>Số lượng dự án</th>
                        <td>22</td>
                    </tr>
                    <tr>
                        <th>Tổng chi phí các dự án</th>
                        <td>100000$</td>
                    </tr>
                    <tr>
                        <th>Các Task đang xử lý</th>
                        <td>10</td>
                    </tr>
                </thead>
            </table>
            <h6>Khách hàng</h6>
            <table class="table2">
                <thead>
                    <tr>
                        <th>Vin Group</th>
                    </tr>
                    <tr>
                        <th>FPT Software</th>
                    </tr>
                    <tr>
                        <th>Fpoly</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="phai">
            <div class="menu1">
                <div class="left">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Dự án
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Dự án 1</a></li>
                                <li><a class="dropdown-item" href="#">Dự án2</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="rigth">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                2024
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">2023</a></li>
                                <li><a class="dropdown-item" href="#">2022</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="chi_tiet">
                <div class="tieu_de1">
                    <h4>Tổng thể về dự án</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Chi phí dự án</th>
                                <td>100000000</td>
                            </tr>
                            <tr>
                                <th>Hiện tại đã chi</th>
                                <td>100000</td>
                            </tr>
                            <tr>
                                <th>Còn lại</th>
                                <td>1000000</td>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="tieu_de2">
                    <h4>Thành viên của nhóm</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Khu vực</th>
                                <th>Số lượng thành viên</th>
                                <th>Nhân viên đang tạm nghĩ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">Bắc</td>
                                <td>12</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td scope="row">Trung</td>
                                <td>7</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td scope="row">Nam</td>
                                <td>2004</td>
                                <td>23</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>